@import url(http://fonts.googleapis.com/css?family=Tienne:700);
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);

body {
	padding: 0;
	margin: 0;
	background-color: black;
	font-family: 'Duru Sans', sans-serif;
	font-size: 16px;
	color: #FEFEFE;
}

.shaded_light {
	background: rgba(0, 0, 0, 0.2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000033,endColorstr=#00000033);
}

a, a:hover {
	color: #FBB;
}

header, footer {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #CCF;
	font-size: 83%;
}
	header a {
		color: #CCF;
	}
	header {
		text-align: right;
	}
	header a {
		padding: 7px;
	}


#bigphoto {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 65%;
	background-color: black;
	background-repeat: no-repeat;
	background-position: top left; 
	background-image: url(../img/me_1920x2029.jpeg);
	padding-right: 20px;
}

#content-wrapper {
	margin-left: 55%;
	min-height: 800px;
}

#myname {
	margin-top: 110px;
	margin-bottom: 110px;
	color: white;
	font-size: 3.75vw;
}
	#myname h1 {
		margin: 0;
		font-family: 'Tienne', serif;
		line-height: 100%;
		font-size: 100%;
	}
		#myname h1 small {
			color: #DDF;
			font-size: 50%;
		}
	#myname p.deck {
		font-size: 52%;
		color: #DDF;
		margin-top: .5em;
		margin-bottom: 0;
	}

@media (max-width: 1199px) {
	#bigphoto {
	  background-image: url(../img/me_1200x1268.jpeg);
	  background-size: 80%;
	}
	#myname { font-size: 3.5vw; }
}
@media (max-width: 991px) {
	#bigphoto {
	  background-image: url(../img/me_1200x1268.jpeg);
	  background-size: 85%;
	}
	#content-wrapper {
		margin: 325px 10% 0 10%;
	}
	#myname { font-size: 4vw; }
}

@media (max-width: 767px) {
	#bigphoto {
	  background-image: url(../img/me_768x811.jpeg);
	  background-size: 100%;
	}
	#content-wrapper {
		margin: 175px 10% 0 10%;
	}
	#myname {
		font-size: 5vw;
	}
	#myname p.deck {
		color: white;
	}
}

#about-me {
}
	#about-me a {
		font-weight: bold;
		text-decoration: underline;
	}
	#about-me > div {
		margin-bottom: 3em;
	}
	#about-me img {
		margin-bottom: 1.5em;
	}

p.quote {
	margin: 3em auto;
	max-width: 640px;
	padding: 1em;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font-size: 90%;
}

#photos {
	margin-top: 4em;
	border-top: 1px solid #333;
	padding-top: 2em;
}
#photos img {
	margin-bottom: 23px;
}