@import url(http://fonts.googleapis.com/css?family=Tienne:700);

body {
	padding: 0;
	margin: 0;
	background-color: black;
}

a, a:hover {
	color: #251;
}

#bigphoto {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top left; 
	background-color: black;
	background-image: url(../img/me_1920.jpeg);
	padding: 15px;
	min-height: 65vw
}

#content-wrapper {
	background-color: rgba(240,235,220,.87);
	padding: 0 15px 25px 15px;
	max-width: 40%;
	font-family: sans-serif;
	font-size: 16px;
	color: black;
	font-weight: bold;
}

#myname {
	padding-top: 50px;
	padding-bottom: 10px;
	font-size: 3.2vw;
	color: black;
}
	#myname h1 {
		margin: 0;
		font-family: 'Tienne', serif;
		line-height: 100%;
		font-size: 100%;
	}
		#myname h1 small {
			font-size: 50%;
			color: black;
		}
	#myname p.deck {
		font-size: 14px;
		margin: .5em 0;
	}
	#myname .links {
		margin-top: 3px;
		font-size: 14px;
	}
		#myname .links a {
			margin: 0 .5em;
		}
			#myname .links a.first {
				margin-left: 0;
			}

@media (max-width: 1199px) {
	#bigphoto {
	  background-image: url(../img/me_1200.jpeg);
	}
	#content-wrapper {
		font-size: 14px;
		font-weight: normal;
	}
}
@media (max-width: 767px) {
	#bigphoto {
	  background-image: url(../img/me_768.jpeg);
	}
	#content-wrapper {
		margin-top: 100vw;
		max-width: 100%;
	}
	#myname {
		font-size: 5vw;
	}
}

#about-me {
}
	#about-me a {
		font-weight: bold;
		text-decoration: underline;
	}
	#about-me img {
		margin-bottom: .5em;
	}

p.quote {
	margin: 3em auto;
	max-width: 640px;
	padding: 1em;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font-size: 90%;
	color: white;
}

#photos {
	text-align: center;
}
#photos h2 {
	margin: 1.5em 0;
	color: #EFF;
	font-size: 14px;
}
#photos img {
	border: 1px solid #555;
	margin-bottom: 30px;
}

h3 {
	margin: 1.5em 0 1em 0;
}
